/* Body styling */
body {
  background: #1f6135;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.65em;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 10px;  
}


/* Heading Styles */
h1 {
  font-size: 72px;
  color: #fff;
  text-align: center;
  letter-spacing: 10px;
}


/* Game Directions */
.description {
  text-align: center;
  margin: 80px auto 40px;
}


/* Submit Button, Columns, Questions, and Inputs */
.button-submit {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer; 
  display: block;
  font-size: 10px; 
  margin: 0 auto 60px;
  padding: 1em 2em; 
  text-align: center; 
}

.bucket {
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
}

.choice-bucket {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 33.333333%;
}

.choice-bucket label {
  font-size: 12px;
  line-height: 13px;
  margin: 15px 4%;
}

.choice-bucket input {
  border: 0;
  border-radius: 15px;
  color: #611f2a;
  font-size: 18px;
  margin: 15px 4%;
  outline: 0;
  padding: 16px 0;
  text-indent: 20px;
  width: 92%;  
  opacity: .75;
}

.choice-bucket label ~ input {
  margin-top: 0;
}

.highlight {
  font-size: 18px;
  line-height: 24px;
  margin-left: 30px;
  font-weight: 200;
  text-transform: uppercase;
}


/* Answer Div */
#answers {
  margin: 60px 0;
  background: #fff;
  border-radius: 6px;
  color: #713e94;
  transition: 1s linear;
}

#answers p {
  max-width: 760px;
  margin: auto;
  padding: 20px 0;
}

#answers p span {
  font-weight: bold;
}


.hide {
  opacity: 0;
  height: 0;
}

.show {
  opacity: 1;
  height: 100%;
}